body {
    margin: 0;
    padding: 0;
    border: none;
}

.back-button {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0F2233;
    background-image: url("img/back-arrow.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
