@font-face {
    font-family: "Nimbus Sans";
    font-weight: normal;
    src: url("fonts/NimbusSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Nimbus Sans";
    font-weight: bold;
    src: url("fonts/NimbusSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: normal;
    src: url("fonts/RobotoSlab-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: bold;
    src: url("fonts/RobotoSlab-Bold.otf") format("opentype");
}

@font-face {
    font-family: "TeX Gyre Pagella";
    font-weight: normal;
    src: url("fonts/texgyrepagella-regular.otf") format("opentype");
}

@font-face {
    font-family: "TeX Gyre Pagella";
    font-weight: bold;
    src: url("fonts/texgyrepagella-bold.otf") format("opentype");
}

body {
    background-color: #0F2233;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-family: "Nimbus Sans", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 2vw;
}

.header-logo {
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    background-image: url("img/holodb-logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-title-outer {
    flex: 1;
    overflow: hidden;
    margin: 0.6vw 0 0 1.5vw;
}

.header-title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 3vw;
    font-weight: bold;
    color: #7FEAFF;
}

.header-subtitle {
    display: block;
    font-size: 1vw;
    font-weight: bold;
    color: #55CCCC;
}

.header-innotdk2025 {
    padding: 2.2vw 1.3vw 0 0;
    font-size: 2vw;
    font-weight: bold;
    color: #9988BB;
}

.main {
    flex: 1;
    margin: 0 3vw 1vw 3vw;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.side-title {
    margin: 0 0 1vw 1.3vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #CCEEEE;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}

.item-box {
    overflow: hidden;
    margin: 0.5vw;
    padding: 1vw;;
    border-radius: 1vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
}

.item-box:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.item-box-1 {
    background-color: #94FFDD;
}

.item-box-1 .item-box-image {
    background-image: url("img/item-brochure.png");
}

.item-box-2 {
    background-color: #74D5D2;
}

.item-box-2 .item-box-image {
    background-image: url("img/item-presentation.png");
}

.item-box-3 {
    background-color: #BBF2FF;
}

.item-box-4 {
    background-color: #A7B3FF;
}

.item-box-5 {
    background-color: #B5AAFF;
}

.item-box-5 .item-box-image {
    background-image: url("img/item-repl.png");
}

.item-box-6 {
    background-color: #CFBBEB;
}

.item-box-6 .item-box-image {
    background-image: url("img/item-rest.png");
}

.item-box-image {
    float: left;
    width: 12vw;
    height: 9vw;
    border: 0.1vw solid #112233;
    border-radius: 0.5vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0.15vw 0.15vw 0.6vw rgba(0, 0, 0, 0.3);
}

.item-box-title {
    margin: 0 0 0.7vw 14vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.item-box-content {
    margin: 0 0 0 14vw;
    font-size: 1.1vw;
    font-weight: normal;
    font-family: "Gentium Book Plus";
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw 2vw 2vw;
}

.footer-info {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer-info-otdk37 {
    display: flex;
    flex-direction: row;
    background-color: #F04F25;
    border: 0.2vw solid #4F1704;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-family: "Roboto Slab";
}

.footer-info-otdk37-logo {
    width: 12vw;
    height: 7vw;
    background-image: url("img/otdk37.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-info-otdk37-rank {
    margin: 0.5vw 0.8vw 0 1.5vw;
    text-align:center;
    color: #FFFFFF;
}

.footer-info-otdk37-rank-top {
    font-size: 3.2vw;
    font-weight: bold;
}

.footer-info-otdk37-rank-bottom {
    font-size: 0.7vw;
    font-weight: normal;
}

.footer-info-paper {
    display: flex;
    flex-direction: row;
    width: 30vw;
    background-color: #D2C6AB;
    border: 0.2vw solid #2B4735;
    border-radius: 0.5vw;
}

.footer-info-paper-text {
    flex: 1;
    margin: 1vw 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "TeX Gyre Pagella";
}

.footer-info-paper-text-author {
    color: #012850;
    font-size: 1.1vw;
}

.footer-info-paper-text-author-basic {
    font-weight: bold;
}

.footer-info-paper-text-author-email {
    
}

.footer-info-paper-text-paper {
    font-size: 0.9vw;
}

.footer-info-paper-text-paper-pre {
    color: #503223;
    font-weight: bold;
}

.footer-info-paper-text-paper-title {
    margin: 0.1vw 0 0 0.7vw;
    color: #6E4733;
}

.footer-info-paper-elteik-logo {
    width: 6vw;
    margin: 0.5vw 1.2vw;
    background-image: url("img/elteik-logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-info-navback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8vw;
    padding: 0.7vw;
    text-align: center;
}

.footer-info-navback-pre {
    font-size: 1vw;
    color: #FAFEFF;
}

.footer-info-navback-main {
    font-size: 2vw;
    font-family: "Roboto Slab";
    font-weight: bold;
    color: #F7F78F;
}

.footer-info-navback-main-mark {
    color: #569E9C;
}

.footer-info-navback-post {
    font-size: 1vw;
    color: #FAFEFF;
}

.footer-qr {
    width: 7.5vw;
    height: 7.5vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
    background-color: #FFFFFF;
    background-image: url("img/holodb-qr.svg");
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}
